.footer-widget-area[data-section="sidebar-widgets-footer-widget-4"] .widget-title{
	color:var(--ast-global-color-4);
}
.footer-widget-area[data-section="sidebar-widgets-footer-widget-4"] .footer-widget-area-inner a {
    color: var(--ast-global-color-4);
}
.footer-widget-area[data-section="sidebar-widgets-footer-widget-4"] .footer-widget-area-inner a:hover {
    color: var(--ast-global-color-4);
}
.ast-builder-html-element p a:hover{color:white;}

/* ---------------------------- */

@media (min-width: 768px) {
	.ast-theme-transparent-header .main-header-bar{
	padding-top:0px;
	padding-bottom:0px;
	}
}
a.menu-link {
    font-weight: 900;
}
.ast-above-header.ast-above-header-bar
 {
    margin-bottom: 0px;
}


.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0px;
}


.elementor-355 .elementor-element.elementor-element-fc94efe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
margin-top: 70px!important; 
    /* margin-bottom: 0px; */
}

.master{margin-top:50px;margin-bottom:50px;}
.master .close-uniqe{
	width:100%;
	display:flex;
	justify-content: flex-end;
}

a, .page-title
 {
    color: var(--ast-global-color-2);
}

.ast-container {
	
   max-width:1500px;
    padding-left: 5px;
    padding-right: 5px;
}
